<div class="text-inline">
    <h2 class="text-center"> Github Repositories Page:</h2>
    <app-search (searchEmmiter)="getUserInfo($event)"></app-search>
</div>
<div class="container-fluid1">
<h1 class="text-center">Repositories</h1>
<div class="row">
    <div class="col-sm-6 pt-4 " *ngFor="let Repo of Repos">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" appHighlight>Repository Name: {{Repo.name}} </h4>
                <h4 class="card-text" appHighlight>Language: {{Repo.language}} </h4>
                <p class="card-text" appHighlight>Description: {{Repo.description}}</p>
                <p class="card-text">Date Created: {{Repo.created_at|date}}</p>
                <a href="{{Repo.html_url}}" class="btn btn-dark">View Project On Github</a>
            </div>
        </div>
    </div>
</div>
</div>