<div class="container-fluid">
    <div class="text-inline">
        <h2 class="text-center"> Github UserName Search</h2>
        <app-search (searchEmmiter)="getUserInfo($event)"></app-search>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div >
                    <div *ngIf="info of info">
                        <div class="row">
                            <div ><br>
                                <img src="{{info.avatar_url}}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>{{info.name}}</p><br> 
                        ({{info.login}})
                        <h2> <span *ngIf="info.company">Company: {{info.company}}</span></h2>
                        
                    </div>
            <div >
                <ul>
                    <li  *ngIf="info.bio">Bio: {{info.bio}} </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 pt 3">
        <div class="card" >
            <div class="card-body">
                <h4>Username: {{info.login}}</h4>
                <hr>
                <p><i class="fa fa-file" appHighlight style="font-size:35px"></i>&nbsp;&nbsp; Repositories:&nbsp;&nbsp; <span
                        class="follow">{{info.public_repos}}</span></p>
                <hr>
                <p> <i class="fa fa-user"appHighlight style="font-size:35px"></i>&nbsp;&nbsp; Following:&nbsp;&nbsp; <span
                        class="follow">{{info.following}}</span></p>
                <hr>
                <p> <i class="fa fa-users" appHighlight style="font-size:35px"></i>&nbsp;&nbsp; Followers:&nbsp;&nbsp; <span
                        class="follow">{{info.followers}}</span></p>
                <hr>
                <p > <i class="fa fa-calendar" appHighlight style="font-size:35px"></i>&nbsp;&nbsp; Date Created:&nbsp;&nbsp;
                    <span class="follow">{{info.created_at}}</span></p>
                <hr>
                <hr>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container-fluid1">
<h1 class="text-center">Repositories</h1>
<div class="row">
    <div class="col-sm-6 pt-4 " *ngFor="let Repo of Repos">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" appHighlight>Repository Name: {{Repo.name}} </h4>
               
                <h4 class="card-text" appHighlight>Language: {{Repo.language}} </h4>
                <p class="card-text" appHighlight>Description: {{Repo.description}}</p>
                
                <a href="{{Repo.html_url}}" class="btn btn-primary">View Project On Github</a>
            </div>
        </div>
    </div>
</div>
</div>
